@import '../../sass/global.scss';

.header {
    height: 100vh;
    // background: url('../../images/instagram-photo-12.jpg');
    // background: url('../images/london-landscaping-beautiful-garden-renovation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: .75);
        position: relative;
    }

    h1 {
        @include absoluteCenter();
        font-size: 7vw;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        line-height: 1;

        span {
            display: block;
            font-size: 2.4rem;
            text-transform: none;
        }
    }

    a {
        @include absoluteCenter();
        top: 65%;
        opacity: 0;
    }
}